<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net452" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net452" />
</packages>